:root {
  --gutter-width: 16px;
  --outer-margin: 32px;
  --gutter-compensation: calc((var(--gutter-width) * 0.5) * -1);
  --half-gutter-width: calc((var(--gutter-width) * 0.5));
  --xs-min: 575px;
  --sm-min: 576px;
  --md-min: 768px;
  --lg-min: 992px;
  --xl-min: 1200px;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px;
  padding-left: 8px;
}

.container-fluid {
  padding-right: var(--gutter-width, 16px);
  padding-left: var(--gutter-width, 16px);
}
@media (max-width: 575px) {
  .container {
    width: calc(var(--xs-min) - var(--gutter-width));
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    width: calc(var(--sm-min) - var(--gutter-width));
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: calc(var(--md-min) - var(--gutter-width));
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: calc(var(--lg-min) - var(--gutter-width));
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: calc(var(--xl-min) - var(--gutter-width));
    max-width: 100%;
  }
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: var(--gutter-compensation, -08px);
  margin-left: var(--gutter-compensation, -08px);
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-offset-0,
.col-sm-offset-1,
.col-sm-offset-2,
.col-sm-offset-3,
.col-sm-offset-4,
.col-sm-offset-5,
.col-sm-offset-6,
.col-sm-offset-7,
.col-sm-offset-8,
.col-sm-offset-9,
.col-sm-offset-10,
.col-sm-offset-11,
.col-sm-offset-12,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-offset-0,
.col-md-offset-1,
.col-md-offset-2,
.col-md-offset-3,
.col-md-offset-4,
.col-md-offset-5,
.col-md-offset-6,
.col-md-offset-7,
.col-md-offset-8,
.col-md-offset-9,
.col-md-offset-10,
.col-md-offset-11,
.col-md-offset-12,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-offset-0,
.col-lg-offset-1,
.col-lg-offset-2,
.col-lg-offset-3,
.col-lg-offset-4,
.col-lg-offset-5,
.col-lg-offset-6,
.col-lg-offset-7,
.col-lg-offset-8,
.col-lg-offset-9,
.col-lg-offset-10,
.col-lg-offset-11,
.col-lg-offset-12, 
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-offset-0,
.col-xl-offset-1,
.col-xl-offset-2,
.col-xl-offset-3,
.col-xl-offset-4,
.col-xl-offset-5,
.col-xl-offset-6,
.col-xl-offset-7,
.col-xl-offset-8,
.col-xl-offset-9,
.col-xl-offset-10,
.col-xl-offset-11,
.col-xl-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-basis: 100%;
  padding-right: var(--half-gutter-width, 8px);
  padding-left: var(--half-gutter-width, 8px);
  max-width: 100%;
}

.col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col-xs-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col-xs-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col-xs-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col-xs-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.start-xs {
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  justify-content: center;
  text-align: center;
}

.end-xs {
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  align-items: flex-start;
}

.middle-xs {
  align-items: center;
}

.bottom-xs {
  align-items: flex-end;
}

.around-xs {
  justify-content: space-around;
}

.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

.initial-order-xs {
  order: initial;
}

@media (min-width: 576px) {
  .col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-sm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-sm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-sm-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-sm {
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    align-items: flex-start;
  }

  .middle-sm {
    align-items: center;
  }

  .bottom-sm {
    align-items: flex-end;
  }

  .around-sm {
    justify-content: space-around;
  }

  .between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }

  .initial-order-sm {
    order: initial;
  }
}

@media (min-width: 768px) {
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: var(--half-gutter-width, 08px);
    padding-left: var(--half-gutter-width, 08px);
  }

  .col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-md-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-md-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-md-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-md-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-md {
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    justify-content: center;
    text-align: center;
  }

  .end-md {
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    align-items: flex-start;
  }

  .middle-md {
    align-items: center;
  }

  .bottom-md {
    align-items: flex-end;
  }

  .around-md {
    justify-content: space-around;
  }

  .between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }

  .initial-order-md {
    order: initial;
  }
}

@media (min-width: 992px) {
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: var(--half-gutter-width, 08px);
    padding-left: var(--half-gutter-width, 08px);
  }

  .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-lg-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-lg-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-lg-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-lg-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-lg {
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    align-items: flex-start;
  }

  .middle-lg {
    align-items: center;
  }

  .bottom-lg {
    align-items: flex-end;
  }

  .around-lg {
    justify-content: space-around;
  }

  .between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }

  .initial-order-lg {
    order: initial;
  }
}

@media (min-width: 1200px) {
  .col-xl,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-offset-0,
  .col-xl-offset-1,
  .col-xl-offset-2,
  .col-xl-offset-3,
  .col-xl-offset-4,
  .col-xl-offset-5,
  .col-xl-offset-6,
  .col-xl-offset-7,
  .col-xl-offset-8,
  .col-xl-offset-9,
  .col-xl-offset-10,
  .col-xl-offset-11,
  .col-xl-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: var(--half-gutter-width, 08px);
    padding-left: var(--half-gutter-width, 08px);
  }

  .col-xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-xl-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-xl-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-xl-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-xl-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-xl-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-xl-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-xl-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-xl-offset-0 {
    margin-left: 0;
  }

  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-xl-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-xl-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-xl-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-xl-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-xl {
    justify-content: flex-start;
    text-align: start;
  }

  .center-xl {
    justify-content: center;
    text-align: center;
  }

  .end-xl {
    justify-content: flex-end;
    text-align: end;
  }

  .top-xl {
    align-items: flex-start;
  }

  .middle-xl {
    align-items: center;
  }

  .bottom-xl {
    align-items: flex-end;
  }

  .around-xl {
    justify-content: space-around;
  }

  .between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }

  .initial-order-xl {
    order: initial;
  }
}

@media (max-width: 575px) {
  .hidden-xs {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hidden-sm {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-lg {
    display: none;
  }
}

@media (min-width: 1200px) {
  .hidden-xl {
    display: none;
  }
}




html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
main, footer{
  background-color: white;
}
header{
  background-color: red;
/*
  background: url("https://media.giphy.com/media/nBUW1suj9CZaw/giphy.gif");
  background-position:center;  
  background-repeat:no-repeat;	
  background-size:cover;
*/
}

.section_background {
  background-color: rgb(50, 65, 88);
}
.orange_color{
  color:orange;
}
.offers_background{
  box-shadow: inset 0 0 0 1000px rgba(46, 49, 63, 0.9);
  background: url("http://www.cndajin.com/data/wls/154/14325695.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; 
  


}

.header_menu {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.logo {
  display:flex;
  text-align: start;
}

.company{
  color:white;
  margin: 0;
}
.site_nav {
  width: 60%;
  display: flex;
  justify-content:space-between;
  margin:auto;
  margin-right:0;
}
.nav_link {
  text-decoration: none;
  color: white;
  font-size:12px;
}
.nav_link:hover {
  color: orange;
  cursor: pointer;
}
.about_border_bottom {
  width: 80%;
  margin: auto;
  padding-bottom: 2%;
  border-bottom-style: solid;
  border-width: 4px;
  border-color: orange;
}
.about_border_top{
  width: 80%;
  margin: auto;
  padding-top: 2%;
  border-top-style: solid;
  border-width: 4px;
  border-color: orange;
}
.section_name {
  text-align: center;
  margin-top: 2%;
}
.company_name {
  color: white;
  font-size: 150px;
}
.slogan {
  color: white;
  font-size: 35px;
  font-weight:bold;
}

.slogan2{
  display:flex;
  justify-content: space-between;
}
.side_borders{
  width:40%;
}

.media_link{
margin:0.5%;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

.shift_picture {
  height: 100px;
  margin-top: 2%;
  margin-bottom: 2%;
  position: relative;
}

.shift_time,
.shift_hist,
.shift_exp,
.shift_val {
  height: 100px;
  width: 20%;
  text-align: center;
  position: absolute;
  z-index: 1;
  color: orange;
  font-size: 30px;
}
.shift_time {
  left: 0;
}
.shift_hist {
  left: 25%;
}

.shift_exp {
  left: 50%;
}
.shift_val {
  right: 0;
}
.shift_time:hover,
.shift_hist:hover,
.shift_exp:hover,
.shift_val:hover {
  opacity: 0;
}
.bottom_time,
.bottom_hist,
.bottom_exp,
.bottom_val {
  height: 100px;
  width: 20%;
  opacity: 0;
  text-align: center;
  position: absolute;
  font-size: 20px;
  color: white;
}
.bottom_time {
  left: 0;
}
.bottom_hist {
  left: 25%;
}

.bottom_exp {
  left: 50%;
}
.bottom_val {
  right: 0;
}

.shift_time:hover~.bottom_time,.shift_hist:hover~.bottom_hist,.shift_exp:hover~.bottom_exp,.shift_val:hover~.bottom_val{
  opacity: 1;
}

.motto {
  color: white;
  margin-bottom: 5%; 
  background-color:  rgba(46, 49, 63, 0.3);
  padding:2% 0 2% 0;
}
.wiki_info {
  position: relative;
  margin-top: 2%;
  margin-bottom: 10%;
  color:white;
}
.wiki_txt {
  text-align: center;
  background-color:  rgba(46, 49, 63, 0.3);
  border-radius: 0px 15px;
  width:35%;
  padding-top:5px;
  padding-bottom: 5px;
  position: absolute;
  margin:0;
  bottom:0;
  right:131px;
}
.wiki_link{
  color:white;
}
.wiki_img{
position: absolute;
right:0;
bottom:0;
}


.possible_positions_title{
  color:orange;
  font-size: 20px;
  font-weight: bold;
}
.possible_positions_list{
  position:relative;
  height:260px;
  margin-top:2%;
  margin-bottom:2%;

}
.possible_positions_recruit, .possible_positions_business, .possible_positions_project{
  height: 260px;
  width: 30%;
  text-align: center;
  position: absolute;
  z-index: 1;
}
.possible_positions_recruit{
  left:0;
}
.possible_positions_business{
  left:35%;
}
.possible_positions_project{
  right:0;
}

.possible_positions_recruit:hover, .possible_positions_business:hover, .possible_positions_project:hover{
  opacity: 0;
}

.possible_positions_rec_way, .possible_positions_bus_way, .possible_positions_proj_way{
  height: 260px;
  width: 30%;
  text-align: center;
  position: absolute;
  opacity: 0;
}

.possible_positions_rec_way{
left:0;
}
.possible_positions_bus_way{
left:35%;
}
.possible_positions_proj_way{
right:0;
}

.possible_positions_recruit:hover~.possible_positions_rec_way, .possible_positions_business:hover~.possible_positions_bus_way, .possible_positions_project:hover~.possible_positions_proj_way{
  opacity: 1;
}








.colorful_strike {
  color: orange;
  text-decoration: line-through;
}
.strike_content {
  color: black;
}
.recruiter_title {
  text-align: center;
  color: orange;
}
.table_of_duties {
display: flex;
justify-content: space-between;
}
.duties_column{
  width: 32%;
}
.table_of_duties_card {
  color:white;
  font-size: 20px;
  text-align: start;
}
.table_of_duties_card > p {
  padding: 5%;
}
.table_background_1{
  background-color:rgb(255, 97, 97);
}
.table_background_2{
  background-color:rgb(242, 191, 94);
}
.table_background_3{
  background-color:rgb(117, 203, 168);
}
.table_background_4{
  background-color:rgb(83, 110, 183);
}
.table_background_5{
  background-color:rgb(104, 176, 77);
}
.table_background_6{
  background-color:rgb(182, 133, 232);
}
.table_of_duties_title{
  font-weight: bold;
  font-size: 25px;
}

.table_of_duties_percent{
  font-size: 50px;
  margin:0 0 10% 0;
  text-align: center;
}



.slider {
  width: 80%;
  margin: auto;
  padding-top: 2%;
  text-align: start;
}
.slide {
height:600px;
position: relative;
}
.slide_1position{
width:50%;
position: absolute;
left: 0;
top: 0;
}
.slide_2position{
  width:100%;
  position: absolute;
  bottom: 0;
}
.slide_3position{
  width:50%;
  position: absolute;
  right: 0;
  top: 0;
}
.slide_title{
  padding-left: 5%;
}
.slide_adds{
  padding-left: 5%;
}
.recruiter_way_img{
  margin-top:5%;
  margin-bottom: 5%;
  max-width: 960px;;
}


.img_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top:2%;
  margin-bottom: 2%;
}

.img_grid > div{
  width:25%;
  height: 325px;
}

.team_img {
  background: url('../images/1.jpg');
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.team_img:hover {
  background: url("../images/2.jpg")
    no-repeat;
    background-size:cover;
}

.person_info {
  background-color: rgba(176, 173, 177, 0.815);
  width: 100%;
  height:20%;
  margin: 0;
  text-align: center;
  color:white;
  font-weight: solid;
}
.team_img:hover .person_info{
  opacity: 0;
}
.ss_card{
  color:white;
  background-color: rgb(242, 191, 94);
  height: 325px;
}
.ss_card2{
  color:white;
  background-color:rgb(255, 97, 97);
}
.ss_card3{
  color:white;
  background-color:rgb(182, 133, 232);
}
.ss_card4{
  color:white;
  background-color: rgb(83, 110, 183);
}
.ss_card5{
  color:white;
  background-color: rgb(117, 203, 168);
}
.ss_title {
  font-size: 125px;
  font-weight: bolder;
  text-align: start;
  margin:0;
  margin-left: 5%;
}
.ss_txt{
  font-size: 30px;
  margin:0 5% 0 5%;
  text-align: start;
}


.jobs_title {
  color: orange;
  text-align: start;
  font-size: 30px;
  font-weight: bold;
}
.jobs_info{
  color:white;
  text-align: start;
  padding:10px;
  background-color: rgb(71, 71, 116);
}

.offer_links{
display: flex;
align-items: flex-start;
flex-wrap: wrap;
}

.offers_button{
  background-color: rgba(51, 44, 65, 0.5);
  border: solid;
  border-width: 3px;
  border-color: white;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 1%;
  margin-right: 1%;
  cursor: pointer;
}
.offers_button:hover{
  background-color: orange;
}

.clients_about{
  display:flex;
  justify-content: space-between;
  text-align: start;
  font-size: 15px;
}
.clients_about_column{
  width:49%;
}
.client_card {
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: white;
  padding: 2%;
}

.client_card_id{
  width:70%;
  font-size: 35px;
  border-bottom-style: solid;
  border-color: orange;
  margin:0;
  margin-bottom: 2%;
}
.client_card_position{
  color:grey;
}

.faq, .coordinates{
  margin-top:2%;
  display: flex;
  
}
.faq_text{
  width:58%;
  text-align: start;
}

.contact_person {
  position: relative;
  text-align: center;
  height: 400px;
  width: 40%;
}
.contact_person_img{
  position: absolute;
  background-color: blue;
  width:100%;
  height:400px;
  z-index: 1;
  border-radius: 50%;
}
.contact_person_contacts{
  position: absolute;
  background-color: #2a3340;
  width:100%;
  height:400px;
  text-align: center; 
  border-radius: 50%;
  display:flex;
  flex-direction: column;
  justify-content:center;
align-items:center;
}


.contact_person_links{
  border-top-style: solid;
  padding-top: 2%;
  width:80%;
  margin:0;
}

.contact_person_img:hover{
  opacity:0;
  z-index: -1;
}
.contact_person_contacts:hover{
 z-index: 1;
}

#map {
  height: 500px;
  width: 53%;
  margin: auto;
  background-color: red;
}
.coordinates_text{
  width:45%;
  text-align: start;
}

.container1{
  display: none;
}

@media (max-width: 991px){

  #parallax{
    width:100%;
/* background-image:url('https://68.media.tumblr.com/9c811fb09ae9fe61e3bbcb1d7f0c3724/tumblr_o9489fIsmH1qhttpto3_1280.png');*/
     background-image: url('../images/MilkyWayGalaxywithbulge.jpg'); 
    background-position:center;  
    background-repeat:no-repeat;	
    background-size: cover; 
    will-change: transform; 
    transform: translateZ(0);
  } 
  .about_border_top{
    width:100%;
  }
  .about_border_bottom{
    width:95%;
    margin:0 auto 0 auto;
  }
  .mobile_header{
    color:white;
  }
  

.mobile_nav{
  display:flex;
  justify-content: space-between;
}

.mobile_nav_popup{
  margin-top: 2%;
  width:100%;
  position: relative;
  margin-bottom: 15%;
}

.mobile_logo{
  position: absolute;
  right:50%;
}

#dialog {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color:green;
  color: #fff;
}
#dialog.show {
  display: flex;
}
#dialog  a{
  text-decoration: none;
  color:white;
  margin-bottom:2%;
}


#show, #close{
position: absolute;
right:0;
top: 0;
font-size:30px;
cursor:pointer;
margin: 0;
}

.mobile_popup_container{
position: relative;
margin-top: 2%;
width: 100%;
}

.popup_links{
padding-top: 20%; 
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.mobile_motto{
background-color:  rgba(46, 49, 63, 0.3);
padding-bottom:5%;
}
.mobile_about{
  text-align: center;
  margin-top:5%;
}
  .table_of_duties{
    flex-direction: column;
    margin:0 -8px 0 -8px;
  }
  .table_of_duties_txt, .table_of_duties_title{
margin:0;
  }


  .duties_column{
    width: 100%;
    margin:0;
  }
/*
.slick-prev
{
    left: -25px;
    z-index: 1;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '<';
}
[dir='rtl'] .slick-prev:before
{
    content: '>';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '>';
}
[dir='rtl'] .slick-next:before
{
    content: '<';
}
*/
.slide{
 height: 300px;
}

.slide_1position, .slide_2position, .slide_3position{
display: block;
width: 100%;
height: 100%;
}


.offers_button{
  width: 100%;
}

.faq, .coordinates{
  display: block;
}
.faq_text, .coordinates_text{
  width:100%;
}
.mobile_contacts_links{
  display: flex;
  justify-content: space-around;
}
}





.vacation_grid{
  display:flex;
  flex-wrap: wrap;
}
.v_grid_item{
width:33.33%;
height:250px;
position: relative;
}
.v_grid_hover{
background-color: rgba(58, 99, 31, 0.5);
z-index: 1;
position: absolute;
width:100%;
height: 100%;
margin:0;
text-align: center;
color:white;
}

.v_grid_hover:hover {
  opacity: 0;
}
.v_grid_bottom{
  filter: blur(2px);
}
.v_grid_hover:hover~.v_grid_bottom{
  filter: blur(0px);
}
video{
  object-fit: fill;
  height: 100%;
}

.coordinates_title{
  color:orange;
}